/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

.header { 
    color: #f3e6d8;  
    font-size: 18px;
    max-width: 100%;
    text-align: center;
    display: center;
    background-image: linear-gradient)rgba(4,9,30,0,7),rgba(4,9,30,0,7)) url(images/Spearfishing.png);
    background-position: center;
    position: relative;
    background-size: cover;
}


.centered-header {
            text-align: center;
}
body {
    background-color: rgb(0, 0, 255);

a {
    text-decoration: none;
}

/* Style rules for navigation area */
nav {
    background-color: rgb(0, 0, 0);
}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    font-size: 1.5em;
    font-family: Geneva, Arial, sans-serif;
    font-weight: bold;
}

nav li a {
    display: block;
    color: #f6eee4;
    padding: 0.5em 2em;
    text-decoration: none;
}

/* Style rules for main content */
main {
    padding: 2%;
    font-family: 'Lora', serif;
}

main p {
    font-size: 1.25em;
}

main h3 {
    padding-top: 2%;
}

main ul {
    list-style-type: square;
}

/* Style rules for class and id selectors */
.link {
    color: #4d3319;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}

.action {
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
}


/* Style rules for footer content */
footer {
    text-align: center;
    font-size: 0.85em;
    background-color: #2a1f14;
    color: rgb(0, 0, 0)
    padding: 1% 0%;
}

footer a {
    color: #f3e6d8;
    text-decoration: none;
}
