@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{ 
  padding: 1em;
  background-color: rgb(173, 216, 230);
}
h1,h2,h3 {
  font-family: sans;
}

nav {
  margin: 1em auto 3em auto;
  width: min(1000px, 100%);
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 2em;
}

nav li:first-child {
  margin-right: auto;
  font-weight: bold;
}

nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

nav a: hover {
  text-decoration: underline;
}

header, section {
  margin: 2em auto;
  width: min(75em, 100%;
  color: rgb(173, 216, 230);
  paddding: min(2em, 15%);
  border-radius: 1 em;
}

.flex-container { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3em;
}

header img {
  max-width: 100%
  border-radius: 1em;
  object-fit: cover;
  object-position: bottom;
}

.text-container {
  flex: 0 1 34 em;
}

h1 {
  font-size: .75em 0 1em 0;
  font-size: 1.25rem
}

