* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins';
  text-align: center;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 100px;
  background: rgb(0, 0, 255);
  position: fixed;
  text-decoration: none;
}

nav {
  display: flex;
  line-height: 100px;
}
nav a {
  text-decoration: none;
  letter-spacing: 4px;
  font-size: px;
  padding: 36px 10px;
  margin: 0 1px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 20px;
}
